<div class="main-page">

	<div class="product-form">
		<h3 class="product-form__title"> Formulario de Producto </h3>
		<%= form_for @user_product, class: 'product-form__form' do |f| %>

			<%= render "shared/errors", resource: @user_product, extra_classes: 'product-form__alert' %>

			<% if @user_product.new_record? %>
				<div class="product-form__field">
		      <%= f.label :product_id, 'Producto', { class: 'product-form__label' } %>
		      <%= f.collection_select :product_id,
		      	Product.all, :id, :name,
		      	{},
		      	{ class: 'product-form__input product-form__input--select', error: false } %>
		    </div>
			<% end %>

	    <div class="product-form__field">
	      <%= f.label :price, 'Precio', { class: 'product-form__label' } %>
	      <%= f.number_field :price, { class: 'product-form__input', error: false } %>
	    </div>

	    <div class="product-form__field">
	      <%= f.label :stock, 'Stock', { class: 'product-form__label' } %>
	      <%= f.number_field :stock, { class: 'product-form__input', error: false } %>
	    </div>

		  <%= f.submit "#{@user_product.new_record? ? 'Agregar' : 'Editar'} producto", class: 'product-form__button' %>

		<% end  %>
	</div>
</div>
