<div class="main-page products-index">
	<div id="products-index-table-container" class="products-index__table-container">

		<div id="withdrawal-modal-holder" class="modal hide fade" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
			<div class="modal-dialog" role="document">
	  		<div class="modal-content">
	  		</div>
	  	</div>
		</div>

		<%- flash.each do |_, msg| -%>
	    <%= content_tag :div, msg, class: 'alert alert-success' if msg.is_a?(String) %>
	  <%- end -%>

		<div class="products-index__header">
			<h1 class="products-index__title"> Mis Productos </h1>

			<div class="products-index__header-actions">
				<% if @withdrawable_amount > 0 %>
					<%= link_to "Hacer retiro", new_user_withdrawal_path, {
						remote: true,
						'data-toggle' => "modal",
						'data-target' => "#withdrawal-modal-holder",
						class: 'products-index__action products-index__action--withdraw'
					} %>
				<% end %>

				<%= link_to "Mis Retiros", user_withdrawals_path, class: 'products-index__action' %>

				<%= link_to "Agregar producto", new_user_product_path, class: 'products-index__action', data: { turbolinks: false } %>

				<%= link_to "Log out", destroy_user_session_path,
					method: :delete,
					class: 'products-index__action products-index__action--logout'
				%>
			</div>
		</div>

		<h4 class="products-index__total-sales"> Total de ventas: <%= current_user.total_sales %> (Satoshis) </h4>
		<h4 class="products-index__withdrawable-amount"> Monto disponible para retiro: <%= @withdrawable_amount %> (Satoshis) </h4>

		<% if @user_products.length > 0 %>
			<table class="products-index__table">
				<thead>
			    <tr>
			      <th class="products-index__table-header"> Nombre </th>
			      <th class="products-index__table-header"> Precio (CLP) </th>
			      <th class="products-index__table-header"> Stock </th>
			      <th class="products-index__table-header"> Ventas (UN) </th>
			      <th class="products-index__table-header"> Ventas (Satoshis) </th>
			      <th class="products-index__table-header products-index__table-header--fixed-width"> Acciones </th>
			    </tr>
				</thead>
				<tbody>
					<% @user_products.each do |user_product| %>
						<%= render "row", user_product: user_product %>
					<% end %>
				</tbody>
			</table>
			<% @user_products.each do |user_product| %>
				<div
					id="<%= "image-modal-holder-#{user_product.id}" %>"
					class="modal hide fade"
					role="dialog"
					aria-labelledby="basicModal"
					aria-hidden="true"
				>
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h4> Imagen del Producto </h4>
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true"> × </button>
							</div>
							<div class="modal-body">
								<%= user_product.product.image.attached? ?
									image_tag(url_for(user_product.product.image), class: 'image-modal__image') :
									'El producto no tiene imagen'
								%>
							</div>
						</div>
					</div>
				</div>
			<% end %>
		<% else %>
			<p class="products-index__message">	No tienes productos para mostrar :( </p>
		<% end %>

	</div>
</div>
