<div class="modal-header">
	<h4 class="modal-header__title"> Confirmacion del retiro </h4>
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> × </button>
</div>
<%= form_for [:user, @withdrawal], url: user_withdrawals_path, remote: true do |f| %>
  <div class="modal-body">

    <h5 class="modal-body__title"> Cantidad </h5>
    <p> <%= @withdrawal.amount %> </p>

    <h5 class="modal-body__title"> Direccion BTC </h5>
    <p> <%= @withdrawal.btc_address %> </p>

    <%= f.hidden_field :amount, value: @withdrawal.amount %>
    <%= f.hidden_field :btc_address, value: @withdrawal.btc_address %>

  </div>
  <div class="modal-footer">
    <%= f.submit "Confirmar retiro", class: 'modal-footer__button' %>
  </div>
<% end %>
