<div class="navbar">
  <%= link_to "Refreshments", root_path,
    class: "navbar__title",
    data: { turbolinks: false }
  %>

  <% if user_signed_in? %>
    <%= link_to "Cartola", user_balance_index_path,
      class: 'navbar__link',
      data: { turbolinks: false }
    %>

    <%= link_to "Productos", user_products_path,
      class: 'navbar__link',
      data: { turbolinks: false }
    %>

    <%= link_to "Deudas", user_debt_products_path,
      class: 'navbar__link',
      data: { turbolinks: false }
    %>

    <%= link_to "Editar Perfil", edit_user_registration_path,
      class: 'navbar__link',
      data: { turbolinks: false }
    %>

    <%= link_to "Cerrar sesión", destroy_user_session_path,
      method: :delete,
      class: 'navbar__link navbar__link--right',
      data: { turbolinks: false }
    %>

  <% else %>
    <%= link_to "Catálogo de compra", buy_path,
      class: 'navbar__link navbar__link--buy',
      data: { turbolinks: false }
    %>

    <%= link_to "Iniciar sesión", new_user_session_path,
      class: 'navbar__link navbar__link--right',
      data: { turbolinks: false }
    %>
  <% end %>

</div>
