<div class="main-page balance-index">
  <div class="balance-index__table-container">

    <div id="withdrawal-modal-holder" class="modal hide fade" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
			<div class="modal-dialog" role="document">
	  		<div class="modal-content">
	  		</div>
	  	</div>
		</div>

    <div class="balance-index__header">
      <h1 class="balance-index__title"> Mi Cartola </h1>

      <div class="balance-index__header-actions">
        <% if current_user.withdrawable_amount > 0 %>
					<%= link_to "Hacer retiro", new_user_lightning_network_withdrawal_path, {
						remote: true,
						'data-toggle' => "modal",
						'data-target' => "#withdrawal-modal-holder",
						class: 'balance-index__action'
					} %>
				<% end %>

        <%= link_to "Mis Productos", user_products_path, class: 'balance-index__action' %>

        <%= link_to "Log out", destroy_user_session_path,
          method: :delete,
          class: 'balance-index__action balance-index__action--logout'
        %>
      </div>
    </div>

    <h4 class="balance-index__total-balance">
      Balance Total: <%= number_to_currency(
        -@total_balance,
        unit: 'Satoshis',
        format: '%n %u',
        negative_format: '(%n) %u'
      ) %>
    </h4>

    <% if @ledger_lines.length > 0 %>
      <table class="balance-index__table">
        <thead>
          <tr>
            <th class="balance-index__table-header"> Fecha </th>
            <th class="balance-index__table-header"> Operación </th>
            <th class="balance-index__table-header balance-index__table-header--fixed-width"> Descripción </th>
            <th class="balance-index__table-header--fixed-right"> Monto (Satoshis) </th>
            <th class="balance-index__table-header--fixed-right"> Balance (Satoshis) </th>
          </tr>
        </thead>
        <tbody>
          <% @ledger_lines.each do |line| %>
            <tr>
              <td class="balance-index__table-info"> <%= line.date.in_time_zone().strftime("%d/%m/%Y %H:%M") %> </td>
              <% if line.accountable_type === 'InvoiceProduct' %>
                <td class="balance-index__table-info"> Venta </td>
                <td class="balance-index__table-info">
                  <%= '%s a %d pesos' % @line_id_to_product_data_hash[line.id] %>
                </td>
              <% elsif line.accountable_type === 'LightningNetworkWithdrawal' %>
                <td class="balance-index__table-info"> Retiro </td>
                <td class="balance-index__table-info"></td>
              <% end %>
              <td class="balance-index__table-info--fixed-right">
                <%= number_to_currency(-line.amount, unit: '', negative_format: '(%n)') %>
              </td>
              <td class="balance-index__table-info--fixed-right">
                <%= number_to_currency(-line.balance, unit: '', negative_format: '(%n)') %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p class="balance-index__message">  Tu cuenta no tiene movimientos :( </p>
    <% end %>

  </div>
</div>
