<tr>
	<td> <%= product.name %> </td>
	<td> <%= product.price %> </td>
	<td> <%= product.active %> </td>
	<td> <%= product.total_count %> </td>
	<td> <%= product.total_satoshi %> </td>
	<td class="products-index__table-actions">
		<button
			type="button"
			class="products-index__action products-index__table-action"
			data-toggle="modal"
			data-target="#<%= "image-modal-holder-#{product.id}" %>"
		>
			Ver
		</button>
	  <%= link_to "Editar", edit_user_product_path(product), class: 'products-index__action products-index__table-action' %>
	  <%= link_to "Eliminar", user_product_path(product),
	  	data: {:confirm => 'Are you sure?'},
	  	:method => :delete,
	  	class: 'products-index__action products-index__table-action'
	  %>
	</td>
</tr>
