<tr>
  <td>
    <%= product.image.attached? ?
      image_tag(url_for(product.image),
      class: 'products-index__table-image--fixed-size')
      : 'N/A'
    %>
  </td>
  <td> <%= product.name %> </td>
  <td>
    <%= number_to_currency(product.price,
                           unit: '',
                           format: '%n %u',
                           negative_format: '-%n %u'
                          )
    %>
  </td>
  <td> <%= product.stock %> </td>
  <td> <%= product.total_count %> </td>
  <td>
    <%= number_to_currency(product.total_satoshi,
                             unit: '',
                             format: '%n %u',
                             negative_format: '-%n %u'
                            )
    %>
  </td>
  <td class="products-index__table-actions">
    <%= link_to "Editar", edit_user_product_path(product), class: 'products-index__action products-index__table-action' %>
    <%= link_to "Eliminar", user_product_path(product),
      data: {:confirm => 'Are you sure?'},
      :method => :delete,
      class: 'products-index__action products-index__table-action'
    %>
  </td>
</tr>
