<div id="products-index-table">
	<h1> Mis Productos </h1>
	<h3> Total de ventas: <%= current_user.total_sales %> </h3>
	<h4> Monto disponible para retiro: <%= current_user.withdrawable_amount %> </h4>

	<%= link_to "Hacer retiro", new_user_withdrawal_path, {
		remote: true,
		'data-toggle' => "modal",
		'data-target' => "#modal-holder"
	} %>
	<div id="modal-holder" class="modal hide fade" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
		<div class="modal-dialog" role="document">
  		<div class="modal-content">
  		</div>
  	</div>
	</div>

	<br>
	<%= link_to "Agregar producto", new_user_product_path %>
	<table>
		<thead>
	    <tr>
	      <th> Nombre </th>
	      <th> Precio </th>
	      <th> Active </th>
	      <th> Ventas (UN) </th>
	      <th> Ventas (CLP) </th>
	      <th> Acciones </th>
	    </tr>
		</thead>
		<tbody>
			<% @products.each do |product| %>
				<%= render "row", product: product %>
			<% end %>
		</tbody>
	</table>
</div>
